html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='styles.css')
  body
    form(class='charsheet')
      header
        section(class='charname')
          label(for="charname") Character Name
          input(name="charname" value=character.name)
        section(class='misc')
          ul
            li
              label(for="classlevel") Class & Level
              for i in characterObj.classCount
                input(name="classlevel" value=`${characterObj.classes[i].subclass} | Lv. ${characterObj.classes[i].level}`)
            li
              label(for="background") Background
              input(name="background" value=character.data.details.background)
            li
              label(for="playername") Player Name
              input(name="playername")
            li
              label(for="race") Race
              input(name="race" value=character.data.details.race)
            li
              label(for="alignment") Alignment
              input(name="alignment")
            li
              label(for="experiencepoints") Experience Points
              input(name="experiencepoints")
      
      main
        section
          section(class='attributes')
            div(class='scores')
              ul
                each attr in [ {name: "Strength", code: "str"}, {name: "Dexterity", code: "dex"}, {name: "Constitution", code: "con"}, {name: "Wisdom", code: "wis"}, {name: "Intelligence", code: "int"}, {name: "Charisma", code: "cha"} ]
                  li
                    div(class='score')
                      label(for="#{attr.name}score") #{attr.name}
                      input(name="#{attr.name}score" value=character.data.abilities[attr.code].value)
                    div(class='modifier')
                      input(name="#{attr.name}mod" value=character.data.abilities[attr.code].mod)
                
            div(class='attr-applications')
              div(class='inspiration box')
                div(class='label-container')
                  label(for="inspiration") Inspiration
                input(name="inspiration" type="checkbox")
                
              div(class='proficiencybonus box')
                div(class='label-container')
                  label(for="proficiencybonus") Proficiency Bonus
                input(name="proficiencybonus" value=character.data.attributes.prof)
                
              div(class='saves list-section box')
                ul
                  for attr in [ "Strength", "Dexterity", "Constitution", "Wisdom", "Intelligence", "Charisma" ]
                    li
                      label(for="#{attr}-save") #{attr}
                      input(name="#{attr}-save" type="text" placeholder="+0")
                      input(name="#{attr}-save-prof" type="checkbox")
                div(class='label') Saving Throws

              div(class='skills list-section box')
                ul
                  for skill in abilities
                    li
                      label(for="#{skill.name}") #{skill.name}
                      span(class="skill") #{skill["attr"]}
                      input(name="#{skill.name}" type="text" placeholder="+0")
                      input(name="#{skill.name}-prof" type="checkbox")
                div(class='label') Skills
                
          div(class='passive-perception box')
            div(class='label-container')
              label(for="passiveperception") Passive Wisdom (Perception)
            input(name="passiveperception" placeholder="10")
            
          div(class='otherprofs box textblock')
            label(for="otherprofs") Other Proficiencies and Languages
            textarea(name="otherprofs")

        section
          section(class='combat')
            div(class='armorclass')
              div
                label(for="ac") Armor Class
                input(type="text" name="ac" value=character.data.attributes.ac.flat)

            div(class='initiative')
              div
                label(for="initiative") Initiative
                input(type="text" name="initiative" value=character.data.attributes.init.total)

            div(class='speed')
              div
                label(for="speed") Speed
                input(type="text" name="speed" value=`${character.data.attributes.movement.walk}${value=character.data.attributes.movement.units}`)

            div(class='hp')
              div(class='regular')
                div(class='max')
                  label(for="maxhp") Hit Point Maximum
                  input(type="text" name="maxhp" value=value=character.data.attributes.hp.max)
                div(class='current')
                  label(for="currenthp") Current Hit Points
                  input(type="text" name="currenthp" value=character.data.attributes.hp.value)
              div(class='temporary')
                label(for="temphp") Temporary Hit Points
                input(type="text" name="temphp" value=character.data.attributes.hp.temp)

            div(class='hitdice')
              div
                div(class='total')
                  label(for="totalhd") Total
                  for i in characterObj.classCount
                    input(type="text" name="totalhd" value=`${characterObj.classes[i].level}${characterObj.classes[i].hitDice}`)
                div(class='remaining')
                  label(for="remaininghd") Hit Dice
                  for i in characterObj.classCount
                    input(type="text" name="remaininghd")

            div(class='deathsaves')
              div
                div(class='label')
                  label Death Saves
                div(class='marks')
                  div(class='deathsuccesses')
                    label Successes
                    div(class='bubbles')
                      for i in [1,2,3]
                        input(type="checkbox" name="deathsuccess#{i}")
                  div(class='deathfails')
                    label Failures
                    div(class='bubbles')
                      for i in [1,2,3]
                        input(type="checkbox" name="deathfail#{i}")

          section(class='attacksandspellcasting')
            div
              label Attacks & Spellcasting
              table
                thead
                  tr
                    th Name
                    th Atk Bonus
                    th Damage/Type
                tbody
                  for i in characterObj.weaponCount
                    tr
                      td
                        input(type="text" name="atkname#{i}" value=characterObj.weapons[i].name)
                      td
                        input(type="text" name="atkbonus#{i}" value=characterObj.weapons[i].data.damage.parts[0][0])
                      td
                        input(type="text" name="atkdamage#{i}" value=characterObj.weapons[i].data.damage.parts[0][1])
              textarea(class='textarea-mod')
          section(class='equipment')
            div
              label Equipment
              div(class='money')
                ul
                  for moneyType in currency
                    li
                      label(for=moneyType) #{moneyType}
                      input(type="text" name=moneyType value=character.data.currency[moneyType])
              textarea(placeholder="Equipment list here" class='textarea-mod')

        section
          section(class='flavor')
            div(class='personality')
              label(for="personality") Personality
              textarea(class='textarea-mod' name="personality") #{character.data.details.trait}
              
            div(class='ideals')
              label(for="ideals") Ideals
              textarea(class='textarea-mod' name="ideals") #{character.data.details.ideal}
              
            div(class='bonds')
              label(for="bonds") Bonds
              textarea(class='textarea-mod' name="bonds") #{character.data.details.bond}
              
            div(class='flaws')
              label(for="flaws") Flaws
              textarea(class='textarea-mod' name="flaws") #{character.data.details.flaw}
              
          section(class='features')
            div
              label(for="features") Features & Traits
              textarea(class='textarea-mod' name="features") #{characterObj.features.map(x=>[`+==========================+\n${x.name}`, x.description].join('\n----------------------------\n').concat('\n+==========================+\n\n')).join('')}