html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='styles.css')
  body
    form(class='charsheet')
      header
        section(class='charname')
          label(for="charname") Character Name
          input(name="charname" placeholder=character.name)
        section(class='misc')
          ul
            li
              label(for="classlevel") Class & Level
              input(name="classlevel" placeholder="Paladin 2")
            li
              label(for="background") Background
              input(name="background" placeholder="Acolyte")
            li
              label(for="playername") Player Name
              input(name="playername" placeholder="Player McPlayerface")
            li
              label(for="race") Race
              input(name="race" placeholder="Half-elf")
            li
              label(for="alignment") Alignment
              input(name="alignment" placeholder="Lawful Good")
            li
              label(for="experiencepoints") Experience Points
              input(name="experiencepoints" placeholder="3240")
      
      main
        section
          section(class='attributes')
            div(class='scores')
              ul
                each attr in [ "Strength", "Dexterity", "Constitution", "Wisdom", "Intelligence", "Charisma" ]
                  li
                    div(class='score')
                      label(for="#{attr}score") #{attr}
                      input(name="#{attr}score" placeholder="10")
                    div(class='modifier')
                      input(name="#{attr}mod" placeholder="+0")
                
            div(class='attr-applications')
              div(class='inspiration box')
                div(class='label-container')
                  label(for="inspiration") Inspiration
                input(name="inspiration" type="checkbox")
                
              div(class='proficiencybonus box')
                div(class='label-container')
                  label(for="proficiencybonus") Proficiency Bonus
                input(name="proficiencybonus" placeholder="+2")
                
              div(class='saves list-section box')
                ul
                  for attr in [ "Strength", "Dexterity", "Constitution", "Wisdom", "Intelligence", "Charisma" ]
                    li
                      label(for="#{attr}-save") #{attr}
                      input(name="#{attr}-save" type="text" placeholder="+0")
                      input(name="#{attr}-save-prof" type="checkbox")
                div(class='label') Saving Throws

              div(class='skills list-section box')
                ul
                  for skill in abilities
                    li
                      label(for="#{skill.name}") #{skill.name}
                      span(class="skill") #{skill["attr"]}
                      input(name="#{skill.name}" type="text" placeholder="+0")
                      input(name="#{skill.name}-prof" type="checkbox")
                div(class='label') Skills
                
          div(class='passive-perception box')
            div(class='label-container')
              label(for="passiveperception") Passive Wisdom (Perception)
            input(name="passiveperception" placeholder="10")
            
          div(class='otherprofs box textblock')
            label(for="otherprofs") Other Proficiencies and Languages
            textarea(name="otherprofs")

        section
          section(class='combat')
            div(class='armorclass')
              div
                label(for="ac") Armor Class
                input(type="text" name="ac" placeholder="10")

            div(class='initiative')
              div
                label(for="initiative") Initiative
                input(type="text" name="initiative" placeholder="+0")

            div(class='speed')
              div
                label(for="speed") Speed
                input(type="text" name="speed" placeholder="30")

            div(class='hp')
              div(class='regular')
                div(class='max')
                  label(for="maxhp") Hit Point Maximum
                  input(type="text" name="maxhp" placeholder="10")
                div(class='current')
                  label(for="currenthp") Current Hit Points
                  input(type="text" name="currenthp")
              div(class='temporary')
                label(for="temphp") Temporary Hit Points
                input(type="text" name="temphp")

            div(class='hitdice')
              div
                div(class='total')
                  label(for="totalhd") Total
                  input(type="text" name="totalhd" placeholder="2d10")
                div(class='remaining')
                  label(for="remaininghd") Hit Dice
                  input(type="text" name="remaininghd")

            div(class='deathsaves')
              div
                div(class='label')
                  label Death Saves
                div(class='marks')
                  div(class='deathsuccesses')
                    label Successes
                    div(class='bubbles')
                      for i in [1,2,3]
                        input(type="checkbox" name="deathsuccess#{i}")
                  div(class='deathfails')
                    label Failures
                    div(class='bubbles')
                      for i in [1,2,3]
                        input(type="checkbox" name="deathfail#{i}")

          section(class='attacksandspellcasting')
            div
              label Attacks & Spellcasting
              table
                thead
                  tr
                    th Name
                    th Atk Bonus
                    th Damage/Type
                tbody
                  for i in [1,2,3]
                    tr
                      td
                        input(type="text" name="atkname#{i}")
                      td
                        input(type="text" name="atkbonus#{i}")
                      td
                        input(type="text" name="atkdamage#{i}")
              textarea(class='textarea-mod')
          section(class='equipment')
            div
              label Equipment
              div(class='money')
                ul
                  for moneyType in currency
                    li
                      label(for=moneyType) #{moneyType}
                      input(type="text" name=moneyType)
              textarea(placeholder="Equipment list here" class='textarea-mod')

        section
          section(class='flavor')
            div(class='personality')
              label(for="personality") Personality
              textarea(class='textarea-mod' name="personality")
              
            div(class='ideals')
              label(for="ideals") Ideals
              textarea(class='textarea-mod' name="ideals")
              
            div(class='bonds')
              label(for="bonds") Bonds
              textarea(class='textarea-mod' name="bonds")
              
            div(class='flaws')
              label(for="flaws") Flaws
              textarea(class='textarea-mod' name="flaws")
              
          section(class='features')
            div
              label(for="features") Features & Traits
              textarea(class='textarea-mod' name="features")